<!doctype html>

<html>
    <head>
        <title>- Stephen & Ann Helen -</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="static/style.css" rel="stylesheet" type="text/css">
        <script type="text/javascript" src="static/js/main.js"></script>
    </head>

    <body>
        {% if authenticated %}
        <img id="banner" src="static/banner.png"></div>
        {% endif %}
        <div class="background-wrapper">
            <div class="background sky">
                <canvas id="mountains"></canvas>
            </div>
            <div id="content">
                {% block content %}{% endblock %}
            </div>
            <canvas id="left-mountain" class="side-mountain"></canvas>
            <canvas id="right-mountain" class="side-mountain"></canvas>
        </div>
    </body>
</html>
