<h1>RSVP</h1>
<p>{{ loc['reg_answer_1'] }}</p>
{% if email %}
<p>{{ loc['reg_answer_5'] }} <a id="registered_email">{{ email }}</a></p>
<p>{{ loc['reg_answer_6'] }}</p>
{% else %}
<p>{{ loc['reg_answer_4'] }}</p>
{% endif %}
<form id="email_form" action="/email" method="post">
    {{ email_form.hidden_tag() }}
    <p>{{ email_form.email(placeholder = loc['contact_5']) }}<input type="submit" value="{{ loc['reg_9'] }}"</p>
</form>
<p>{{ loc['reg_answer_2'] }}</p>
<div>
    <a>{{ loc['reg'] }}</a>
    {% if registered %}
    <ul id="reg_list">
        {% for person in registered %}
        <li>{{ person }} <a id="{{ person }}" onclick="javascript:deleteParticipant(this.id)">x</a></li>
        {% endfor %}
    </ul>
    {% endif %}
</div>
<div>
    <a>{{ loc['reg_8'] }}</a>
    <form id="register_form" action="/register" method="post">
        {{ form.hidden_tag() }}
        <p>{{ form.first_name(placeholder = loc['reg_1']) }}</p>
        <p>{{ form.last_name(placeholder = loc['reg_2']) }}</p>
        <p>{{ form.allergies(placeholder = loc['reg_3']) }}</p>
        <p>{{ form.vegetarian() }} {{ loc['reg_4'] }}</p>
        <p>{{ form.vegan() }} {{ loc['reg_5'] }}</p>
        <p>{{ form.kids_menu() }} {{ loc['reg_6'] }}</p>
        <input type="submit" value="{{ loc['reg_9'] }}">
    </form>
</div>
